use_default_settings: true

general:
  instance_name: "Purple Search"
  debug: false

search:
  safe_search: 0
  default_lang: "en"
  formats:
    - html
    - json

outgoing:
  request_timeout: 10.0
  useragent_suffix: ""
  pool_connections: 100
  pool_maxsize: 20

server:
  secret_key: "purple-local-search-key"
  limiter: false
  image_proxy: false
  method: "GET"

ui:
  static_use_hash: true

engines:
  - name: google
    engine: google
    shortcut: g
    disabled: false

  - name: bing
    engine: bing
    shortcut: b
    disabled: false

  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
    disabled: false

  - name: brave
    engine: brave
    shortcut: br
    disabled: false

  - name: wikipedia
    engine: wikipedia
    shortcut: w
    disabled: false

  - name: github
    engine: github
    shortcut: gh
    disabled: false

  - name: stackoverflow
    engine: stackoverflow
    shortcut: so
    disabled: false
